@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  h1{
    @apply text-xl md:text-2xl 2xl:text-3xl font-medium
  }
  h2{
    @apply text-xl 2xl:text-2xl
  }
  p{
    @apply text-base md:text-base xl:text-lg text-black/80
  }
  nav{
    @apply h-20 flex items-center justify-between xs:px-2 px-6 xl:px-20 py-14
  }
  h4{
    @apply text-xl
  }
  h5{
    @apply text-lg xl:text-xl px-4 text-center
  }
  .dot{
    @apply w-2 h-2 rounded-full bg-black group-hover:bg-secondary
  }
  h3{
    @apply text-base xs:text-sm
  }
  .in{
    @apply focus:outline-none focus:border-secondary border-2 focus:border-2  py-3 px-3 bg-white appearance-none w-full rounded-full shadow-md shadow-gray-500/50
  }
}

:root {
  line-height: 1.2;
  font-family: "Happy Monkey";
  font-weight: 400;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;
  @apply bg-bg scroll-smooth
}


body{
  height: 100dvh;
}


@keyframes open {
  0% {
    height: 0;
  }
  100%{
    height: 130px;

  }
  
}


.openAnimation{
  animation-name: open;
  animation-duration: .4s;
  animation-fill-mode: both;

}


.bg{
  background-image: url('../../public/image/bgRegister.svg');
  height: 100dvh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


